.message-block {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}

.message-block:first-child {
    margin-top: 40px;
}

.message-block:nth-last-child(2) {
    margin-bottom: 40px;
}

.message-block > .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.message-block > .header > .user {
    text-align: left;
    margin-right: 10px;
    font-weight: 900;
}

.message-block > .header > .date {
    text-align: right;
    /*margin-right: 10px;*/
    color: #a9a9a9;
    font-style: italic;
    font-size: 10px;
}

.message-block > .text {

}