.chat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.chat > .chat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5%;
    margin: 5% 15%;
    border-radius: 10px;
    background-color: #e3e3e3;
}

.chat > .chat-container > .chat-container-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
}